{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Website Title -->
    <title>Company Search</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext"
        rel="stylesheet">
    <link href="/static/tedu_note/css/bootstrap.css" rel="stylesheet">
    <link href="/static/tedu_note/css/fontawesome-all.css" rel="stylesheet">
    <link href="/static/tedu_note/css/swiper.css" rel="stylesheet">
    <link href="/static/tedu_note/css/magnific-popup.css" rel="stylesheet">
    <link href="/static/tedu_note/css/styles.css" rel="stylesheet">

    <!-- Favicon  -->
    <link rel="icon" href="{% static 'tedu_note/images/favicon.png' %}">
</head>

<body data-spy="scroll" data-target=".fixed-top">
    <!-- Preloader -->
	<div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->


    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container">

            <!-- Text Logo - Use this if you don't have a graphic logo -->
            <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Tivo</a> -->

            <!-- Image Logo -->
            <a class="navbar-brand logo-image" href="http://127.0.0.1:8000/home"><img
                    src="{% static 'tedu_note/images/logo.svg' %}" alt="alternative"></a>

            <!-- Mobile Menu Toggle Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-awesome fas fa-bars"></span>
                <span class="navbar-toggler-awesome fas fa-times"></span>
            </button>
            <!-- end of mobile menu toggle button -->

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="http://127.0.0.1:8000/home">HOME <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="http://127.0.0.1:8000/cop/info">Rating</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="http://127.0.0.1:8000/cop/info">Rating History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="http://127.0.0.1:8000/cop/info">Company Search</a>
                    </li>
                </ul>
            </div>
        </div> <!-- end of container -->
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->
    <!--
    <div class="form-container">
    <form action='/cop/info' method='post'>
        <p>
            公司名称：<input type='text' name='copname' value='{{cop.copname}}' >
            <input type='submit' value='查询' >
        </p>
  </form>
</div>
  <p>
      {% if cop.copinfo %}
      {{cop.copinfo}}
      {% else %}
      未找到结果
      {% endif %}

  </p>
  -->
        
    {% if fin.creditlevel %}  
    {{fin.creditlevel}}
    {% elif a %}
    <header id="header" class="ex-2-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Company Search</h1>
                    <p>Not Found <br> Search the background!</p>
                    <!-- Sign Up Form -->
                    <div class="form-container">
                        <form action='/fin/data' method='post'>
                            <div class="form-group">
                                <input type='text' class="form-control-input" name="copname" value='{{fin.copname}}'>
                                <label class="label-control" for="copname" placeholder = "google">Company Name</label>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="form-control-submit-button" value='查询'>SUBMIT</button>
                            </div>      
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <header id="header" class="ex-2-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Company Search</h1>
                        <p>Please input <br> Search the background!</p>
                        <!-- Sign Up Form -->
                        <div class="form-container">
                            <form action='/fin/data' method='post'>
                                <div class="form-group">
                                    <input type='text' class="form-control-input" name="copname" value='{{cop.copname}}'>
                                    <label class="label-control" for="copname" placeholder = "google">Company Name</label>
                                </div>
    
                                <div class="form-group">
                                    <button type="submit" class="form-control-submit-button" value='查询'>SUBMIT</button>
                                </div>      
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
            
        <!-- Scripts -->
        <script src="{% static 'tedu_note/js/jquery.min.js' %}"></script>
        <!-- jQuery for Bootstrap's JavaScript plugins -->
        <script src="{% static 'tedu_note/js/popper.min.js' %}"></script> <!-- Popper tooltip library for Bootstrap -->
        <script src="{% static 'tedu_note/js/bootstrap.min.js' %}"></script> <!-- Bootstrap framework -->
        <script src="{% static 'tedu_note/js/jquery.easing.min.js' %}"></script>
        <!-- jQuery Easing for smooth scrolling between anchors -->
        <script src="{% static 'tedu_note/js/swiper.min.js' %}"></script> <!-- Swiper for image and text sliders -->
        <script src="{% static 'tedu_note/js/jquery.magnific-popup.js' %}"></script>
        <!-- Magnific Popup for lightboxes -->
        <script src="{% static 'tedu_note/js/validator.min.js' %}"></script>
        <!-- Validator.js - Bootstrap plugin that validates forms -->
        <script src="{% static 'tedu_note/js/scripts.js' %}"></script> <!-- Custom scripts -->
</body>